<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="../../assets/artesanato-1.avif"
        class="profile-img-card"
      />
      @if (!isLoggedIn) {
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Usuário</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          @if (username.errors && f.submitted) {
          <div class="invalid-feedback">Nome de Usuário é obrigatório!</div>
          }
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          @if (password.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (password.errors['required']) {
            <div>Senha é obrigatório</div>
            }
            @if (password.errors['minlength']) {
            <div>A senha deve ter pelo menos 6 caracteres</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Login</button>
        </div>
        <div class="form-group">
          <div class="text-center sign-up">
            Não tem conta? <a routerLink="/register">Se Inscreva</a> aqui.
          </div>
      </div>
        <div class="form-group">
          @if (f.submitted && isLoginFailed) {
          <div class="alert alert-danger" role="alert">
            Login falhou: {{ errorMessage }}
          </div>
          }
        </div>
      </form>
      } @else {
      <div class="alert alert-success">Logado como {{ roles }}.</div>
      }
    </div>
  </div>