<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="../../assets/artesanato-1.avif"
        class="profile-img-card"
      />
      @if (!isLoggedIn) {
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Usuário</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          @if (username.errors && f.submitted) {
          <div class="invalid-feedback">Nome de Usuário é obrigatório!</div>
          }
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          @if (password.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (password.errors['required']) {
            <div>Senha é obrigatório</div>
            }
            @if (password.errors['minlength']) {
            <div>A senha deve ter pelo menos 6 caracteres</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Login</button>
        </div>
        <div class="form-group">
          <div class="text-center sign-up">
            Não tem conta? <a routerLink="/register">Se Inscreva</a> aqui.
          </div>
      </div>
      
      <!-- <div class="login-button">
        <div
          id="google-login-button"
          class="login-button btn btn-primary"
          (click)="signInWithGoogle()"
        ></div>
      </div>
       -->
  <div class="ml-5">
       <div id="g_id_onload"
            data-client_id="187172284503-5j8vliqpqvcbr267esi20eja5o141b7f.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="https://arte-front.vercel.app/home/tutorials"
            data-auto_select="true"
            data-itp_support="true">
       </div>
       
       <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left">
       </div>
      </div>

        <div class="form-group">
          @if (f.submitted && isLoginFailed) {
          <div class="alert alert-danger" role="alert">
            Login falhou: {{ errorMessage }}
          </div>
          }
        </div>
      </form>
      } @else {
      <div class="alert alert-success">Logado como {{ roles }}.</div>
      }
    </div>
  </div>