
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
  
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="home/tutorials" class="navbar-brand">Artesão App</a>
  
  <div class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cadastros
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a routerLink="add" class="dropdown-item">Adicionar Artesão</a>
        <a routerLink="add-arte" class="dropdown-item">Adicionar Obra de Arte</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Listas
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a routerLink="tutorials" class="dropdown-item">Lista de Artesões</a>
        <a routerLink="tutorials" class="dropdown-item">Listas de Obras</a>
      </div>
    </li>
    
  </div>
</nav>

