<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="../../assets/artesanato-1.avif"
        class="profile-img-card"
      />
      @if (!isSuccessful) {
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Usuário</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          @if (username.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (username.errors['required']) {
            <div>Nome de Usuário é obrigatório</div>
            }
            @if (username.errors['minlength']) {
            <div>O nome de usuário deve ter pelo menos 3 caracteres</div>
            }
            @if (username.errors['maxlength']) {
            <div>O nome de usuário deve ter no máximo 20 caracteres</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
          @if (email.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (email.errors['required']) {
            <div>Email é obrigatório</div>
            }
            @if (email.errors['email']) {
            <div>O e-mail deve ser um endereço de e-mail válido</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          @if (password.errors && f.submitted) {
          <div class="invalid-feedback">
            @if (password.errors['required']) {
            <div>Senha é requerida</div>
            }
            @if (password.errors['minlength']) {
            <div>A senha deve ter pelo menos 6 caracteres</div>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Cadastrar</button>
        </div>
  
        @if (f.submitted && isSignUpFailed) {
        <div class="alert alert-warning">
          Erro no Cadastro!<br />{{ errorMessage }}
        </div>
        }
      </form>
      } @else {
      <div class="alert alert-success">Seu cadastro foi realizado com sucesso!</div>
      }
    </div>
  </div>